// Font Sizes for body copy

$font-xms: 0.875rem; // 14px
$font-sm: 1rem; // 16px
$font-md: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px

// Colors

$dark: #2d3748;
$indigo: hsl(229, 76%, 66%); /* #7f9cf5;*/
$purple: hsl(262, 81%, 77%); /*#b794f4;*/
$light: #f7fafc;
$indigoLight: #c3dafe;
$purpleLight: #e9d8fd;
